
    @font-face {
    font-family: main;
    src: url(fonts/1font/HidayatullahDemo-mLp39.ttf);
  }
  
  h1{
    font-family: main;
    text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #000000, -1px 0 0 #000000;
  }

  @font-face {
    font-family: two;
    src: url(fonts/2font/HidayatullahDemo-mLp39.ttf);
  }
  
  h6{
    font-family: two;
    text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #fdfdfd;
    font-size:x-small;
  }

  @font-face {
    font-family: three;
    src: url(fonts/3font/Al\ Barokah.otf);
  }
  
  p2{
    font-family: three;
    font-size: smaller
  }  

p{
  font-size: medium;
}

p3{
  font-weight: bold;
  font-size: small;
}

body{
  background-color:rgb(224, 201, 166) ;
}



.wrapper {
  
  width: 402px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container {
  width: 60%;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
  text-align: center;
  min-height: 100px;
  padding: 10px 40px;
  box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
}

/* start of blur anim */
.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

/* here for fun */
@media(prefers-reduced-motion) {
  .hidden{
      transition: none;
  }
}

/* end of blur anim */
.show{
  filter: blur(0px);
  opacity: 1;
}

button {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #ffffff;
  cursor: pointer;
  background-color: #1b1d0280;
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
}
