<!DOCTYPE html>
<html>
<head>
<title>T.H.P</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<link rel= "stylesheet" type= "text/css" href= "/static/styles.css">
<script defer src="{{ url_for('static',filename='app.js') }}"></script>
<script defer src="app.js"></script>
<link rel="icon" type="imgs/logo" href="/static/img/favi.PNG">
    


</head>
  <body>
    <center><h6>welcome to</h6></center>
    <center><i><h1>The Hadith Project</h1></i></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <center> 
    <div class="wrapper">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

        <div class="container"
            
        <i><b><p3>{{narr}}</p3></b></i>
          <p>{{hadith}}</p>
          <p2>{{fact}}</p2> 
          <br>
          <p2>{{chap}}</p2>

        </div>
        <br>
        <button onClick="window.location.reload();", class="button">Get a new hadith</button>
      </div>
      </center>

   
  </body>
</html>
